@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body { 
    font-family: 'Noto sans' sans-serif; 
    font-size: 16px; 
    font-weight: 400;
    color: #555;
    margin: 0; 
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

#page { max-width: 1200px; margin: 0 auto; position: relative; height: 100%; }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
    z-index: 1;
}

header ul { padding: 0; margin: 0; }

header ul {
    list-style: none;
    padding: 10px;
}

header ul li {
    display: block;
    float: left;
    height: 20px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-right: 1px solid #555;
    position: relative;
    cursor: pointer;
}

header ul li.settings { float: right; border-right: none; }
header ul li.user { float: right; }
header ul li.search { position: absolute; left: 220px; border-right: none; cursor: pointer; }
header ul li.messages { float: right; border-left: 1px solid #555; }


header ul li.notifications { float: right; }
header ul li.notifications:hover { color: yellow; }


header ul li.search { position: relative; left: 5px; cursor:  pointer; }
header ul li.menu { cursor: pointer; }

header ul li.search input { 
    margin: 0; 
    height: 75%;
    padding: 2px 5px 5px 35px;
    position: absolute; 
    opacity: 0;
    top: 0; 
    left: 0;
    right: -50px;
    border: none;
    background-color: transparent;   
    font-size: 1.5em;
    z-index: -1;
}



header ul li.search input:focus
{
    opacity: 1;
}

header ul li.logo { background: url(../images/logo-paul.svg) no-repeat center center; background-size: contain; width: 125px; padding-right: 14px;  }



header ul li span {
    position: absolute;
    top: 5%;
    left: 30%;
    padding: 0;
    margin: 0;
}


header ul li span.last { top: 48%; }

.user { width: 110px; }

.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background-color: pink;
    padding: 0; margin: 0;
    
}

.sidebar.minimized {
    width: 50px; 
}

.sidebar > ul {
    padding: 60px 0;
    list-style: none;
}

.sidebar.minimized i { padding: 10px 10px; }
.sidebar.minimized span { visibility: hidden; }

.sidebar li { width: 200px; height: 35px; }
.sidebar li:hover { background: rgba(255,255,255,.3); cursor: pointer; border-radius: 25px; }

.sidebar li span { padding-left: 5px; }

article {
    position: fixed;
    top: 80px;
    left: 200px;
}

article aside { margin: 0; padding-left: 20px; width: 100%; }

article aside h2 { display: inline-block; padding-left: 20px; }

.tooltip { visibility: hidden; width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;}

