<header>
    <ul>
        <li class="menu" (click)="mnuToggle()"><i class="fas fa-bars fa-lg"></i><span class="tooltip">Menu</span>
        </li>
        <li class="logo"></li>
  
        <li class="search"><i class="fas fa-search fa-lg"></i><input type="text" placeholder="Search"></li>
  
  
  <!--                    float right-->
        <li class="settings"><i class="fas fa-cog fa-lg"></i><span class="tooltip">Settings</span>
        </li>
        <li class="user">
            <i class="far fa-user-circle fa-lg"></i>
            <span class="first">Carmen</span>
            <span class="last">San Diego</span>
        </li>
        <li class="notifications"><i class="far fa-bell fa-lg"></i><span class="tooltip">Notifications</span></li>
        <li class="messages"><i class="far fa-envelope fa-lg"></i><span class="tooltip">Messages</span></li>
  
    </ul>
  </header>