<ot-header></ot-header>
<ot-sidebar></ot-sidebar>
<article>
    <aside class="financial">
        <div>
            <i class="fas fa-clipboard-list fa-3x"></i>
            <h2>Financial Details</h2>
            <ul>
                <li>Run daily deposit report</li>
                <li>End the day for [TODAY]</li>
                <li>Run Statements</li>
                <li>Run Late Fees</li>
                <li>End the month for [MONTH]</li>
            </ul>
        </div>
    </aside>
    <aside class="schedule">
        <div>
            <i class="fas fa-clipboard-list fa-3x"></i>
            <h2>Schedule Details</h2>
            <ul>
                <li>[##] of patients scheduled today</li>
                <li>[##] of Banding appointments</li>
                <li>[##] of New Patient Exams</li>
                <li>[##] of Debanding appointments</li>
            </ul>
        </div>
    </aside>
</article>