<header>
  <ul>
      <li class="menu"><i class="fas fa-bars fa-lg"></i><span class="tooltip">Menu</span>
      </li>
      <li class="logo"></li>

      <li class="search"><i class="fas fa-search fa-lg"></i><input type="text" placeholder="Search"></li>


<!--                    float right-->
      <li class="settings"><i class="fas fa-cog fa-lg"></i><span class="tooltip">Settings</span>
      </li>
      <li class="user">
          <i class="far fa-user-circle fa-lg"></i>
          <span class="first">Carmen</span>
          <span class="last">San Diego</span>
      </li>
      <li class="notifications"><i class="far fa-bell fa-lg"></i><span class="tooltip">Notifications</span></li>
      <li class="messages"><i class="far fa-envelope fa-lg"></i><span class="tooltip">Messages</span></li>

  </ul>
</header>
<aside class="sidebar minimized">
    <ul>
        <li><i class="fas fa-id-card-alt fa-lg fa-fw"></i><span>Patients</span></li>
        <li><i class="fas fa-calendar-alt fa-lg fa-fw"></i><span>Schedule</span></li>
        <li><i class="fas fa-money-bill fa-lg fa-fw"></i><span>Ledgers</span></li>
        <li><i class="fas fa-feather fa-lg fa-fw"></i><span>Contracts</span></li>
        <li><i class="fas fa-heartbeat fa-lg fa-fw"></i><span>Treatment Cards</span></li>
    </ul>
</aside>
<article>
    <aside class="financial">
        <div>
            <i class="fas fa-clipboard-list fa-3x"></i>
            <h2>Financial Details</h2>
            <ul>
                <li>Run daily deposit report</li>
                <li>End the day for [TODAY]</li>
                <li>Run Statements</li>
                <li>Run Late Fees</li>
                <li>End the month for [MONTH]</li>
            </ul>
        </div>
    </aside>
    <aside class="schedule">
        <div>
            <i class="fas fa-clipboard-list fa-3x"></i>
            <h2>Schedule Details</h2>
            <ul>
                <li>[##] of patients scheduled today</li>
                <li>[##] of Banding appointments</li>
                <li>[##] of New Patient Exams</li>
                <li>[##] of Debanding appointments</li>
            </ul>
        </div>
    </aside>
</article>