<aside class="sidebar" [ngClass]="{ 'minimized' : side.minimized }">
    <ul>
        <li><i class="fas fa-id-card-alt fa-lg fa-fw"></i><span>Patients</span></li>
        <li><i class="fas fa-calendar-alt fa-lg fa-fw"></i><span>Schedule</span></li>
        <li><i class="fas fa-money-bill fa-lg fa-fw"></i><span>Ledgers</span></li>
        <li><i class="fas fa-feather fa-lg fa-fw"></i><span>Contracts</span></li>
        <li><i class="fas fa-heartbeat fa-lg fa-fw"></i><span>Treatment Cards</span></li>
    </ul>
</aside>