/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700')

$navy: #001f3f
$blue: #0074d9
$aqua: #7FDBFF
$teal: #39CCCC
$olive: #3D9970
$green: #2ECC40
$lime: #01FF70
$yellow: #FFDC00
$orange: #FF851B
$red: #FF4136
$maroon: #85144b
$fuchsia: #F012BE
$purple: #B10DC9
$black: #111111
$gray: #AAAAAA
$silver: #DDDDDD
$white: #FFFFFF


body
  font-family: 'Noto sans' sans-serif
  font-size: 16px
  font-weight: 400
  color: $silver
  margin: 0
  padding: 0
  position: fixed
  height: 100%
  width: 100%

#page
  max-width: 1200px
  margin: 0 auto
  position: relative
  height: 100%


.tooltip
  visibility: hidden
  width: 120px
  background-color: black
  color: #fff
  text-align: center
  padding: 5px 0
  border-radius: 6px
  /* Position the tooltip text - see examples below!
  position: absolute
  z-index: 1


